{% extends 'base.html.twig' %}

{% block stylesheets %}
    {# CSS #}
    <link href="{{ asset('CSS/mainPage/mainPage.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
{% endblock %}


{% block body %}

    <section class="pageHomeMainPic">
        <img alt="Push Up Img" height="auto" src="IMG/pushup.svg" width="500px">
        <p>Popraw swoją kondycję już dzisiaj!</p>
        <a href="/login" class="mainPageButton">Log In </a> 
    </section>

{% endblock %}
