{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link href="{{ asset('CSS/login/login.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    <script crossorigin="anonymous" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
{% endblock %}


{% block body %}


    <section class="login">


        <div class="loginForm shadow">
            <h2>
                Log In!
            </h2>

            <form method="post">

                <div class="iconWithInput">
                    <div class="icon-ph1">
                        <i class="fas fa-at"></i>
                    </div>
                    <input type="text" name="email" value="{{ last_username }}" placeholder="Email" onfocus="this.placeholder=''" onblur="this.placeholder='Email'">
                </div>

                <div class="iconWithInput">
                    <div class="icon-ph1">
                        <i class="fas fa-key"></i>
                    </div>

                    <div class="icon-ph2" id="iconPass">
                        <i class="far fa-eye" onclick="showPass()"></i>
                    </div>

                    <input id="password-field" name="password" onblur="this.placeholder='Password'" onfocus="this.placeholder=''" placeholder="Password" type="password">
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <p>
                    <a class="loginLink" href="#">Forgot password</a>
                </p>

                <button class="loginButton" type="submit">Log In</button>

                <p style="text-align: center; margin-top: 30px">
                    Dont't have an account?
                    <a class="loginLink" href="#">
                        <b>Sign UP</b>
                    </a>
                </p>


            </form>

        </div>

        {% if error %}
            <div class="loginAlert">
                <i class="fas fa-exclamation-circle"></i>
                {{ error.messageKey|trans(error.messageData, 'security') }}</div>

        {% endif %}


    </section>

    <script>
        $('form').submit(function () {
            $(this).find("button[type='submit']").prop('disabled', true);
        });

        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }

        function showPass() {
            var x = document.getElementById("password-field");

            if (x.type === "password") {
                x.type = "text";
                document.getElementById("iconPass").innerHTML = '<i class="far fa-eye-slash" onclick="showPass()"></i>';

            } else {
                x.type = "password";
                document.getElementById("iconPass").innerHTML = '<i class="far fa-eye" onclick="showPass()"></i>';
            }
        }
    </script>
{% endblock %}
