.pageHomeMainPic{
    margin-left: 5%;
    margin-right: 5%;
    height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: red; */
}

.pageHomeMainPic p{
    margin-top: 40px;
    font-size: 35px;
    color: #66788A;
    text-align: center;
}

.mainPageButton{
    margin-top: 30px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    line-height: 50px;
    width: 150px;
    text-align: center;
    height: 50px;
    background: #BF0E08;
    animation: colorchange 50s;
    -webkit-animation: colorchange 50s linear infinite;
    }

    @keyframes colorchange
    {
      0%   {background: #BF0E08;}
      25%  {background: orange;}
      50%  {background: #1070CA;}
      75%  {background: green;}
      100% {background: #BF0E08;}
    }


@media only screen and (max-width: 500px) {
    .pageHomeMainPic p{
        font-size: 25px;
    }

    .pageHomeMainPic img{
        width: 300px;
    }

    .mainPageButton{
        margin-bottom: 50px;
    }
}
