.pageHomeMainPic{
    margin-left: 5%;
    margin-right: 5%;
    height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: red; */
}

.pageHomeMainPic p{
    margin-top: 40px;
    font-size: 35px;
    color: #66788A;
    text-align: center;
}


@media only screen and (max-width: 500px) {
    .pageHomeMainPic p{
        font-size: 25px;
    }

    .pageHomeMainPic img{
        width: 300px;
    }
}
