body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.shadow {
  box-shadow: 5px 5px 5px #666;
  -moz-box-shadow: 5px 5px 5px #666;
  -webkit-box-shadow: 5px 5px 5px #666;
}


